@import url(reset.css);

#wrapper {
    width: 100%;
    height: 1585px;
    outline: 1px solid #cc0000;
}

#header  {
    height: 177px;
    outline: 1px solid #000000;
    background-color: #e8e8e8;
}

#slider {
    height: 303px;
    outline: 1px solid #000000;
    background-color: #1d4671;
}

#content {
    height: 668px;
    outline: 1px solid #000000;
    background-color: #edebe8
}

#footer {
    height: 437px;
    outline: 1px solid #000000;
    background-color: #1d4671;
}

#iHeader, #iSlider, #iContent, #iFooter {
    width: 900px;
    margin: 0 auto;
}

#iHeader {
    height: 177px;
    outline: 1px solid #cc0000;
}

#iSlider {
    height: 303px;
    outline: 1px solid #008000;
}

#iContent {
    height: 668px;
    outline: 1px solid #0000FF;
}

#iFooter {
    height: 437px;
    outline: 1px solid #FF8000;
}

